<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body style="background-color: #abe3d6">
  <header style="background-color: #1f1912; border: 2px solid #ccc; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"
    class="page-header flex items-center bg-green-900 text-6xl w-full py-8 text-left">
    <h1 style="color: #1f1912;" class="heading text-white">Tech Blog</h1>

    <div style="color: #1f1912" class="ml-auto">
    <a href="/" class="no-button mr-4 text-4xl text-white hover:no-underline">Home</a>
      
      {{#if logged_in}}
      <a href="/dashboard" class="no-button mr-4 text-4xl text-white hover:no-underline">Dashboard</a>
      <button class="no-button mr-4 text-4xl text-white hover:no-underline" id="logout">Logout</button>
      {{else}}
      <a href="/login" class="text-white text-4xl hover:no-underline">Login</a>
      {{/if}}
    </div>
  </header>









  <main class="">
    
    {{{ body }}}
  </main>

  <footer>

  </footer>


  {{#if logged_in}}
    <script type="text/javascript" src="/js/logout.js"></script>
  {{/if}}

  <style>
    
    header {
      font-family: 'Libre Baskerville', serif !important;
    }
  </style>
  
</body>

   


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>
