<div class="mt-8">
    <div class="w-3/4 mx-auto">
        <div class="border border-2 mb-4" style="border-color: #1f1912;">

            <div class="flex justify-between items-center p-2" style="background-color: #1f1912;">
                <div class="text-white font-bold text-lg">
                    Login
                </div>
            </div>

            <div class="p-4">
                <form action="/login" method="post" class ="login-form">
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
                        <input type="text" id="email-login" name="email" class="w-full border border-2 p-2" required>
                    </div>

                    <div class="mb-4">
                        <label for="password" class="block text-gray-700 font-bold mb-2">Password:</label>
                        <input type="password" id="password-login" name="password" class="w-full border border-2 p-2" required>
                    </div>

                    <button type="submit" style="background-color:#1f1912" class="text-white py-2 px-4 rounded">Login</button>
                </form>
            </div>
        </div>

        <div class="text-center p-2">
        <form action="/signup" method="GET" id="signupForum">
            <button type="submit" style="background-color: #1f1912"class="inline-block text-white py-2 px-4 rounded hover:no-underline">Sign up instead</button>
        </form>
    </div>
</div>
<script src="./js/login.js"></script>